.admin.start {
	.card { margin-bottom: 20px; }

	.card .content .header {
		font-family: roboto-light;
	}

	label {
		font-weight: normal;
		font-size: 1.8rem;
		margin-bottom: 8px; 
		font-weight: bold;
	}

	.card.hasala-intro {
		.banner {
			position: relative;
			min-height: 250px;
		    background: url(../assets/start-hasala-banner.png);
		    background-repeat: no-repeat;
		    background-size: cover;
			/*.banner-image { min-height: 250px; width: auto; }*/

			.upload {
				margin: 0;
			    padding: 0 6.5%;
			    position: absolute;
			    width: 100%;
			    top: 15%;
				
				.upload-link {
				    position: relative;
	    			/*height: 100%;*/

	    			h2 { color: #92c510; }
	    			p { 
	    				color: white;
					    padding-left: 50px;
					    font-size: 1.8rem;
	    			}
					img { width: auto; }

					/*div { 
						position: absolute;
					    top: 0;
					    bottom: 0;
					    right: 0;
					    left: 0;
					    margin: auto;
					    display: table;
					}*/
				}

				.upload-image {
					height: 100%;
					img { height: 100%; }
				}
			}
		}

		.content {
			.header {
				margin: 0;
    			padding: 30px 6.5%;
    			background: #f8f8f8;

			}

			.description {
				padding: 50px 6.5%;

				.form-group.date {
					label { display: block; }
					
					select {
						width: 30%;
						display: inline-block;
					}

					select:not(:last-child) {
						margin-right: 4%;
					}
				}
			}
		}
	}

	.card.hasala-description {
		padding: 20px 6.5%;

		.header {

			margin-bottom: 40px; 
			.row > * {
				display: inline-block;
				width: auto;
				vertical-align: middle;
			}

			div { padding: 0 20px; }
		}

		.description {
			.tools {
				font-size: 1.6rem;
				a {
					text-decoration: none;
				    color: black;
				    margin: 12px 0;
				    display: block;
				}
				.add-photo img { width: 40px; }
				.add-text img { width: 50px; }
			}

			.tools.eng {
				.add-photo img { margin-right: 26px; }
				.add-text img { margin-right: 16px; }
			}
			.tools.arb {
				.add-photo img { margin-left: 26px; }
				.add-text img { margin-left: 16px; }
			}
		}
	}

	.card.hasala-milestones {
		padding: 20px 6.5%;
		position: relative;

		.header { 
			margin-bottom: 40px; 
			.row > * {
				display: inline-block;
				width: auto;
				vertical-align: middle;
			}

			div { padding: 0 20px; }		
		}

		.description {
			.milestone-target {
				display: table;
			    margin: 20px auto;
			    line-height: 5rem;

			    label, .currency {
			    	font-size: 2rem;
			    }

			    .currency { color: orange; }
			}

			.add-milestone {
				color: #92c510;
				font-size: 2.5rem;
			}
		}
	}
}

@media (max-width: 992px) {
	.admin.start .card.hasala-intro .banner .upload {
		padding: 0 2.5%;
	}

	.admin.start .card.hasala-intro .content {
		.header {
			padding: 30px 2.5%;
		}
		.description {
		    padding: 50px 2.5%;
		}
	}

	.admin.start .card.hasala-description {
	    padding: 20px 2.5%;
	}

	.admin.start .card.hasala-milestones {
    	padding: 20px 2.5%;
    }
}

@media (max-width: 768px) {
	.admin.start .card.hasala-intro .banner .upload .upload-link h2 {
		font-size: 2.2rem;
	    font-weight: bold;
	}
}

@media (max-width: 620px) {
	.admin.start .card.hasala-intro .banner {
	    min-height: 500px;

	    .upload {
	    	> * { width: 100%; }
	        top: 8%;
    		text-align: center;
	    }
	}

}