.site-lang {
	float: left;
	padding: 12px 0;

	button {
		border: 1px solid white;
	}

	button.active {
		background: white;
		color: black;
	}
}
.auth.container {
    .auth-form {
    	/*width: 650px;
	    position: absolute;
	    top: 20%;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    display: table;*/
	    max-width: 700px;
	    padding: 10% 0;
	    margin: auto;
    }
}