@font-face {
    font-family: roboto-medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

html, body {
	background: #f0f0f0;
	height: 100vh;
	font-family: roboto-light;
}

[dir='rtl'] {
	.pull-left {
		float: right !important;
	}

	.pull-right {
		float: left !important;
	}	
}

.arabic {
	direction: rtl;
	text-align: right;
}

a {
	cursor: pointer;
}

p {
	font-size: 1.6rem;
}

.navbar {
	background: #92c510;
	height: 65px;
	margin: 0;
	padding: 0 34px 0 25px;

	.navbar-brand {
		margin-top: -10px;
		margin-right: 0;
	}

	ul.navbar-nav li {
		a {
			height: 100%;
		    color: white;
		    line-height: 2;
		    font-size: 17px;
		}
	}
}

.btn-primary {
	color: white;
	background: #92c510;
	border: none;
    border-radius: 5px;
    font-family: roboto-medium;
}

.n-r {
	border-radius: 0;	
}

.n-p { padding: 0 !important; }
.n-p-l { padding-left: 0; }
.n-p-r { padding-right: 0; }

.n-m { margin: 0 !important; }
.n-m-l { margin-left: 0; }
.n-m-r { margin-right: 0; }

.f-m {
	font-family: roboto-medium;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
	color: white;
	background: #92c510;
	border: none;
}

.primary {
	color: #92c510;
}	

.full-height { height: 100%; }
.full-width { width: 100%; }

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.m-b {
	margin-bottom: 5vh;
}

.main-container {
	flex-grow: 1;
    margin: 2%;
	width: auto;
}

.card {
	box-shadow: 0px 0px 5px -1px;
	background: white;
	border-radius: 3px;
	padding: 0;
	margin-bottom: 20px;
	
	.banner {
		position: relative;
		img {
			width: 100%;
		}
		.profile-image {
			position: absolute;
		}
	}

	.content {
		padding: 15px;
		.header {
			margin-bottom: 25px;
			font-family: roboto-medium;

			h1, h2, h3, h4, h5 {
				margin: 10px 0;
			}

			.meta {
				font-size: 1em;
	    		color: rgba(0,0,0,.4);
			}
		}
	}

	.extra-meta {
		height: 52px;
	    padding: 10px 2%;
	    line-height: 2;
	}
}

.statistics {
	text-align: center;

	.statistic {
		display: inline-block;
		text-align: center;
		padding: 15px;
		position: relative;

		.value {
			color: #6b900c;
    		font-size: 3.5rem;
		}

		.label {
			font-size: 1.2rem;
			color: black;
		}
	}

	.statistic:not(:last-child):after {
		content: url("../assets/vertical-div.png");
	    display: inline-block;
	    position: absolute;
	    right: 0;
	    top: -26px;
	    transform: scale(0.3);
	}	
}

.two.statistics > * { width: 50%; }
.four.statistics > * { width: 25%; }

.form-control {
	padding: 10px 12px;
    font-size: 1.8rem;
    height: auto;
}

textarea {
	resize: none;
	overflow: hidden;
}

.gray {
	color: gray;	
}

.orange {
	color: orange;
}

.orange-bg {
	background: orange;
	color: white;
}

.primary-bg {
	color: white;
	background: #92c510;
}


.boderless {
	border: 0;
	box-shadow: none;
}

.nav-tabs-pm {
	li { margin-bottom : 1px; }

	li a, li a:hover {
		font-size: 1.5rem;
		background: #f8f8f8;
    	color: black;
    	border: 1px solid lightgray;
    	border-bottom: 0 !important;
	}

	li.active a, li.active a:hover, li.active a:focus {
		color: #92c510;
    	font-weight: bold;
	}
}

.display-flex {
	display: flex;
}

.position-relative {
	position: relative;
}

.vertical-align {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.bottom-align {
	position: relative;
    top: 100%;
    transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
}

.nav-tabs { 
	border: none;
	padding: 0; 
	a { 
		margin: 0 !important; 
	}
}

.thumbnail-215 {
	width: 215px;
    height: 215px;
}

@media only screen and (max-width: 780px) {
	.statistics {
		.statistic {
			width: 50%;
		}

		.statistic:nth-child(2n):after {
			content: "";
		}
	}
}

@media only screen and (max-width: 992px) {
	.main-card {
		padding: 0;
	}
}
