.site-lang {
	float: left;
	padding: 12px 0;

	button {
		border: 1px solid white;
	}

	button.active {
		background: white;
		color: black;
	}
}

@media (max-width: 768px) {
	.navbar {
		padding: 0 12px;
	}
}