<div class="row admin.home">
	<div class="col-md-3 pull-left card">
		<div class="banner">
			<img src="assets/placeholder.png">
		</div>
		<div class="content">
			<div class="header">
				<h3 class="f-m">57357 Children Cancer Hospital</h3>
			</div>
			<div class="description">
				<div class="two statistics small">
					<div class="statistic">
						<div class="value">0</div>
						<div class="label">On Going</div>
					</div>
					<div class="statistic">
						<div class="value">0</div>
						<div class="label">Finished</div>
					</div>
				</div>
				<a class="start-hasala-box" ui-sref="admin.start">
					<div class="image">
						<img src="assets/start-hasala.png">
					</div>
					<button class="btn btn-primary n-r full-width" type="button">Start A New Hasala</button>
				</a>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
			</div>
		</div>
		<div class="extra-meta">
			<span class="f-m">Active since 3 weeks</span>
		</div>
	</div>
	<div class="col-md-9 pull-right">
		<div class="four statistics card">
			<div class="statistic">
				<div clas="image">
					<img src="assets/followers.png">
				</div>
				<div class="value">0</div>
				<div class="label">Followers</div>
			</div>
			<div class="statistic">
				<div clas="image">
					<img src="assets/views.png">
				</div>
				<div class="value">0</div>
				<div class="label">Views</div>
			</div>
			<div class="statistic">
				<div clas="image">
					<img src="assets/donors.png">
				</div>
				<div class="value">0</div>
				<div class="label">Donors</div>
			</div>
			<div class="statistic">
				<div clas="image">
					<img src="assets/donations.png">
				</div>
				<div class="value">0</div>
				<div class="label">Total Donations</div>
			</div>
		</div>

		<div class="update-section">
			<h3>Let's Update the People!</h3>
			<div class="card n-p">
				<div class="row header">
					<div class="col-md-5 pull-left inline-image-field">
						<img class="img-circle" src="assets/placeholder.png">
						<select class="form-control n-r">
							<option value="" selected disabled>No Hasalas yet</option>
							<option>Hasala 1</option>
							<option>Hasala 2</option>
							<option>Hasala 3</option>
						</select>
					</div>
					<div class="col-md-4 update-type pull-right text-right">
						<div class="radio-inline pull-left">
							<label>
								<input type="radio" name="updateType" value="regular" ng-model="update_type">Regular Update
							</label>
						</div>
						<div class="milestone-update pull-right">
							<div class="radio-inline">
								<label>
									<input type="radio" name="updateType" value="milestone" ng-model="update_type">Milestone Update
								</label>
							</div>
							<select class="form-control n-r" ng-if="update_type=='milestone'">
								<option value="" selected disabled>Select Milestone</option>
								<option>Hasala 1</option>
								<option>Hasala 2</option>
								<option>Hasala 3</option>
							</select>
						</div>	
					</div>
				</div>
				<div class="content">
					<div class="row">
						<div class="col-md-1">
							<img src="assets/update-title.png">
						</div>
						<div class="col-md-9 update-title">
							<input class="form-control" type="text" placeholder="Title">
							<input class="form-control" type="text" placeholder="Arabic Title">
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 pull-right upload-image">
							<img src="assets/update-image.png">
						</div>
						<div class="col-md-9 pull-right">
							<div id="update-hasala-tabs">
							  <ul class="nav nav-tabs" role="tablist">
							    <li role="presentation" class="pull-right">
							    	<a href="#arabic-content" aria-controls="arabic-content" role="tab" data-toggle="tab">Arabic</a>
							    </li>
							    <li role="presentation" class="pull-right active">
							    	<a href="#english-content" aria-controls="english-content" role="tab" data-toggle="tab">English</a>
							    </li>
							  </ul>
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="arabic-content">
							    	<textarea class="form-control" rows="5" placeholder="Enter arabic brief update here ..."></textarea>
							    </div>
							    <div role="tabpanel" class="tab-pane" id="english-content">
							    	<textarea class="form-control" rows="5" placeholder="Enter brief update here ..."></textarea>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="my-hasalas" id="myHasalas">
			
			<div id="all-hasalas-tabs">
				<ul class="nav nav-tabs" role="tablist">
					<li class="pull-left">
						<h3>
							<img src="assets/all-hasalas.png">
							All Hasalas
						</h3>
					</li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'expired' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'expired'">Expired</a>
				    </li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'finished' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'finished'">Finished</a>
				    </li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'on-going' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'on-going'">On Going</a>
				    </li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'needs-update' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'needs-update'">Needs Update</a>
				    </li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'all-hasalas' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'all-hasalas'">All Hasalas</a>
				    </li>
				</ul>
				<div class="card">
					<div class="content">
						<div class="row all-hasalas-nav">
							<ul class="nav navbar-nav full-width">
								<li>
									<a class="f-l {{sub_cat == 'all' ? 'active' : ''}}" ng-click="sub_cat='all'"> All </a>
								</li>
								<li>
									<a class="f-l {{sub_cat == 'health' ? 'active' : ''}}" ng-click="sub_cat='health'"> Health </a>
								</li>
								<li>
									<a class="f-l {{sub_cat == 'water' ? 'active' : ''}}" ng-click="sub_cat='water'"> Water </a>
								</li>
								<li>
									<a class="f-l {{sub_cat == 'orphans' ? 'active' : ''}}" ng-click="sub_cat='orphans'"> Orphans </a>
								</li>
								<li>
									<a class="f-l {{sub_cat == 'education' ? 'active' : ''}}" ng-click="sub_cat='education'"> Education </a>
								</li>
								<div class="pull-right">
									<a class="btn btn-primary n-r" ui-sref="admin.start">
										<span class="pull-left">
											<img src="add-hasala-btn.png">
										</span>
										Start A New Hasala
									</a>
								</div>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane active">
								<a class="empty" ng-if="hasalas.length < 1" ui-sref="admin.start">
									<img src="assets/all-hasalas-lg.png">
						    		<div class="content">
						    			<h4>You haven't started any hasalas yet!</h4>
						    			<h2>Start a Hasala, start the change</h2>
						    		</div>
						    		<img class="img-circle" src="assets/add-hasala.png">
								</a>
								<div ng-if="hasalas.length > 0">
									<div class="row">
								    	<div ng-repeat="hasala in hasalas" class="col-md-4 card">
								    		<div class="banner">
								    			<img src="assets/placeholder.png">
								    		</div>
								    		<div class="content">
									    		<div class="header">
									    			<h4>{{hasala.title}}</h4>
									    			<div class="meta">
									    				<span>{{hasala.weeks_left}} weeks left | {{hasala.completed_milestones}}/{{hasala.total_milestones}} Milestones finished </span>
									    			</div>
									    		</div>
									    		<div class="hasala-progress">
										    		<div class="progress">
													  	<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
													  	</div>
													</div>
													<span class="progress-text f-m"> 70% </span>
										    	</div>
									    		<div class="description">
									    			<p>{{hasala.content}}</p>
									    		</div>
									    	</div>
									    	<div class="extra-meta">
								    			<span class="donations">
								    				<img src="assets/donations.png">{{hasala.donations | number}} LE
								    			</span>
								    			<span class="pull-right">
								    				<a type="button" class="btn btn-primary" ui-sref="admin.hasala({id: $index})">Update Now</a>
								    			</span>
								    		</div>
								    	</div>
								    </div>
								</div>
							</div>
						    <!-- <div role="tabpanel" class="tab-pane empty" id="expired">
						    	expired
						    </div>
						    <div role="tabpanel" class="tab-pane" id="finished">
						    	<div class="row">
							    	<div ng-repeat="hasala in hasalas" class="col-md-4 card">
							    		<div class="banner">
							    			<img src="assets/placeholder.png">
							    		</div>
							    		<div class="content">
								    		<div class="header">
								    			<h4>{{hasala.title}}</h4>
								    			<div class="meta">
								    				<span>{{hasala.weeks_left}} weeks left | {{hasala.completed_milestones}}/{{hasala.total_milestones}} Milestones finished </span>
								    			</div>
								    		</div>
								    		<div class="hasala-progress">
									    		<div class="progress">
												  	<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
												  	</div>
												</div>
												<span class="progress-text f-m"> 70% </span>
									    	</div>
								    		<div class="description">
								    			<p>{{hasala.content}}</p>
								    		</div>
								    	</div>
								    	<div class="extra-meta">
							    			<span class="donations">
							    				<img src="assets/donations.png">{{hasala.donations | number}} LE
							    			</span>
							    			<span class="pull-right">
							    				<button type="button" class="btn btn-primary">Update Now</button>
							    			</span>
							    		</div>
							    	</div>
							    </div>
						    </div>
						    <div role="tabpanel" class="tab-pane" id="on-going">
						    	On going
						    </div>
						    <div role="tabpanel" class="tab-pane" id="needs-update">
						    	needs-update
						    </div>
						    <div role="tabpanel" class="tab-pane" id="all-hasalas">
						    	all-hasalas
						    </div> -->
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>