<div class="row admin.home">
	<div class="col-md-3 pull-left card side-card">
		<div class="banner">
			<img src="assets/placeholder.png">
		</div>
		<div class="content">
			<div class="header">
				<h3 class="f-m">57357 Children Cancer Hospital</h3>
			</div>
			<div class="description">
				<div class="two statistics small">
					<div class="statistic">
						<div class="value">0</div>
						<div class="label">{{'ON GOING' | translate}}</div>
					</div>
					<div class="statistic">
						<div class="value">0</div>
						<div class="label">{{'FINISHED' | translate}}</div>
					</div>
				</div>
				<a class="start-hasala-box" ui-sref="admin.start">
					<div class="image">
						<img src="assets/start-hasala.png">
					</div>
					<button class="btn btn-primary n-r full-width" type="button">{{'START HASALA' | translate}}</button>
				</a>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
			</div>
		</div>
		<div class="extra-meta">
			<span class="f-m">Active since 3 weeks</span>
		</div>
	</div>
	<div class="col-md-9 col-sm-12 pull-right n-p-r main-card">
		<div class="four statistics card">
			<div class="statistic">
				<div clas="image">
					<img src="assets/followers.png">
				</div>
				<div class="value">0</div>
				<div class="label">{{'FOLLOWERS' | translate}}</div>
			</div>
			<div class="statistic">
				<div clas="image">
					<img src="assets/views.png">
				</div>
				<div class="value">0</div>
				<div class="label">{{'VIEWS' | translate}}</div>
			</div>
			<div class="statistic">
				<div clas="image">
					<img src="assets/donors.png">
				</div>
				<div class="value">0</div>
				<div class="label">{{'DONORS' | translate}}</div>
			</div>
			<div class="statistic">
				<div clas="image">
					<img src="assets/donations.png">
				</div>
				<div class="value">0</div>
				<div class="label">{{'TOTAL DONATIONS' | translate}}</div>
			</div>
		</div>

		<div class="update-section">
			<h3>{{'LETS UPDATE' | translate}}</h3>
			<div class="card n-p">
				<div class="row header">
					<div class="col-md-6 col-sm-6 col-xs-12 inline-image-field">
						<img class="img-circle" src="assets/placeholder.png">
						<select class="form-control n-r">
							<option value="" selected disabled>No Hasalas yet</option>
							<option>Hasala 1</option>
							<option>Hasala 2</option>
							<option>Hasala 3</option>
						</select>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 update-type text-right">
						<div class="radio-inline">
							<label>
								<input type="radio" name="updateType" value="regular" ng-model="update_type">{{'REGULAR UPDATES' | translate}}
							</label>
						</div>
						<div class="milestone-update">
							<div class="radio-inline">
								<label>
									<input type="radio" name="updateType" value="milestone" ng-model="update_type">{{'MILESTONE UPDATES' | translate}}
								</label>
							</div>
							<select class="form-control n-r" ng-if="update_type=='milestone'">
								<option value="" selected disabled>Select Milestone</option>
								<option>Hasala 1</option>
								<option>Hasala 2</option>
								<option>Hasala 3</option>
							</select>
						</div>	
					</div>
				</div>
				<div class="content">
					<div class="row position-relative">
						<div class="col-md-1 col-sm-1 col-xs-12 text-center">
							<img src="assets/update-title.png">
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="row update-title">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control" type="text" placeholder="Title">
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control arabic" type="text" placeholder="العنوان">
								</div>
							</div>
							<div class="row">
								<div id="update-hasala-tabs">
								  <ul class="nav nav-tabs nav-tabs-pm" role="tablist">
								    <li role="presentation" class="pull-right">
								    	<a href="#arabic-content" aria-controls="arabic-content" role="tab" data-toggle="tab">عربي</a>
								    </li>
								    <li role="presentation" class="pull-right active">
								    	<a href="#english-content" aria-controls="english-content" role="tab" data-toggle="tab">English</a>
								    </li>
								  </ul>
								  <div class="tab-content">
								    <div role="tabpanel" class="tab-pane " id="arabic-content">
								    	<textarea class="form-control arabic" rows="5" placeholder="إدخال وصف..."></textarea>
								    </div>
								    <div role="tabpanel" class="tab-pane active" id="english-content">
								    	<textarea class="form-control" rows="5" placeholder="Enter description..."></textarea>
								    </div>
								  </div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 upload-image" >
							<img src="assets/update-image.png">
						</div>
					</div>
					<div class="row update-submit text-right">
						<button class="btn btn-primary btn-lg">{{'UPDATE NOW' | translate}}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="my-hasalas" id="myHasalas">
			<h3 class="visible-xs">
				<img src="assets/all-hasalas.png">
				{{'ALL HASALAS' | translate}}
			</h3>
			<div id="all-hasalas-tabs">
				<ul class="nav nav-tabs nav-tabs-pm" role="tablist">
					<li class="pull-left hidden-xs">
						<h3>
							<img src="assets/all-hasalas.png">
							{{'ALL HASALAS' | translate}}
						</h3>
					</li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'expired' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'expired'">{{'EXPIRED' | translate}}</a>
				    </li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'finished' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'finished'">{{'FINISHED HASALAS' | translate}}</a>
				    </li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'on-going' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'on-going'">{{'ON GOING HASALAS' | translate}}</a>
				    </li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'needs-update' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'needs-update'">{{'NEEDS UPDATES' | translate}}</a>
				    </li>
				    <li role="presentation" class="pull-right {{hasala_tab == 'all-hasalas' ? 'active': ''}}">
				    	<a role="tab" data-toggle="tab" ng-click="hasala_tab = 'all-hasalas'">{{'ALL HASALAS' | translate}}</a>
				    </li>
				</ul>
				<div class="card">
					<div class="content">
						<div class="row all-hasalas-nav">
							<ul class="nav navbar-nav full-width">
								<li>
									<a class="f-l text-center {{sub_cat == 'all' ? 'active' : ''}}" ng-click="sub_cat='all'"> {{'ALL' | translate}} </a>
								</li>
								<li>
									<a class="f-l text-center  {{sub_cat == 'health' ? 'active' : ''}}" ng-click="sub_cat='health'"> {{'HEALTH' | translate}} </a>
								</li>
								<li>
									<a class="f-l text-center  {{sub_cat == 'water' ? 'active' : ''}}" ng-click="sub_cat='water'"> {{'WATER' | translate}} </a>
								</li>
								<li>
									<a class="f-l text-center  {{sub_cat == 'orphans' ? 'active' : ''}}" ng-click="sub_cat='orphans'"> {{'ORPHANS' | translate}} </a>
								</li>
								<li>
									<a class="f-l text-center  {{sub_cat == 'education' ? 'active' : ''}}" ng-click="sub_cat='education'"> {{'EDUCATION' | translate}} </a>
								</li>
								<div class="pull-right">
									<a class="btn btn-primary n-r" ui-sref="admin.start">
										<i class="fa fa-plus"></i>
										{{'START HASALA' | translate}}
									</a>
								</div>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane active">
								<a class="empty" ng-if="hasalas.length < 1" ui-sref="admin.start">
									<img src="assets/all-hasalas-lg.png">
						    		<div class="content">
						    			<h4>{{'NOT STARTED ANY HASALA' | translate}}</h4>
						    			<h2>{{'START HASALA START CHANGE' | translate}}</h2>
						    		</div>
						    		<img class="img-circle" src="assets/add-hasala.png">
								</a>
								<div ng-if="hasalas.length > 0">
									<div class="row hasalas-list">
								    	<div ng-repeat="hasala in hasalas" class="card">
								    		<div class="banner">
								    			<img src="assets/placeholder.png">
								    		</div>
								    		<div class="content">
									    		<div class="header">
									    			<h4>{{hasala.title}}</h4>
									    			<div class="meta">
									    				<span>{{hasala.weeks_left}} weeks left | {{hasala.completed_milestones}}/{{hasala.total_milestones}} Milestones finished </span>
									    			</div>
									    		</div>
									    		<div class="hasala-progress">
										    		<div class="progress">
													  	<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
													  	</div>
													</div>
													<span class="progress-text f-m"> 70% </span>
										    	</div>
									    		<div class="description">
									    			<p>{{hasala.content}}</p>
									    		</div>
									    	</div>
									    	<div class="extra-meta">
								    			<span class="donations">
								    				<img src="assets/donations.png">{{hasala.donations | number}} LE
								    			</span>
								    			<span class="pull-right">
								    				<a type="button" class="btn btn-primary" ui-sref="admin.hasala({id: $index})">{{'UPDATE NOW' | translate}}</a>
								    			</span>
								    		</div>
								    	</div>
								    </div>
								</div>
							</div>
						    <!-- <div role="tabpanel" class="tab-pane empty" id="expired">
						    	expired
						    </div>
						    <div role="tabpanel" class="tab-pane" id="finished">
						    	<div class="row">
							    	<div ng-repeat="hasala in hasalas" class="col-md-4 card">
							    		<div class="banner">
							    			<img src="assets/placeholder.png">
							    		</div>
							    		<div class="content">
								    		<div class="header">
								    			<h4>{{hasala.title}}</h4>
								    			<div class="meta">
								    				<span>{{hasala.weeks_left}} weeks left | {{hasala.completed_milestones}}/{{hasala.total_milestones}} Milestones finished </span>
								    			</div>
								    		</div>
								    		<div class="hasala-progress">
									    		<div class="progress">
												  	<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
												  	</div>
												</div>
												<span class="progress-text f-m"> 70% </span>
									    	</div>
								    		<div class="description">
								    			<p>{{hasala.content}}</p>
								    		</div>
								    	</div>
								    	<div class="extra-meta">
							    			<span class="donations">
							    				<img src="assets/donations.png">{{hasala.donations | number}} LE
							    			</span>
							    			<span class="pull-right">
							    				<button type="button" class="btn btn-primary">Update Now</button>
							    			</span>
							    		</div>
							    	</div>
							    </div>
						    </div>
						    <div role="tabpanel" class="tab-pane" id="on-going">
						    	On going
						    </div>
						    <div role="tabpanel" class="tab-pane" id="needs-update">
						    	needs-update
						    </div>
						    <div role="tabpanel" class="tab-pane" id="all-hasalas">
						    	all-hasalas
						    </div> -->
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>