.admin.hasala {
	
	.card {
		margin-bottom: 20px;
		.content {
			padding: 6% 4%;
		}
	}

	.target {
		font-size: 3.5rem;
	    padding: 10px 0;
	    background: white;
	    margin-top: 8%;
	}

	.hasala-card {
		background: #fbfafa;
		.content {
			padding: 15px 15px;
		}

		.image {
		 	img { 
		 		width: 100%; 
		 		min-height: 200px;
		 	}
		}

		.time-ago {
			font-weight: bold;
    		margin: 20px 0 0;
		}

		.countdown {
			margin: 0 0 40px;

			img { width: 30px; }
			h3 { margin: 10px 0; }

			timer { 
				display: block; 
				width: 100%; 
				background: white; 
			}

			.timer {
				display: inline-block;
    			width: 23%;
    			vertical-align: middle;	

    			.dynamic {
    				font-size: 3.5rem;
    				color: #92c510;
    			}
			}
		}

		.statistic .value {
			color: orange;
		}

		.terminate {
			margin: 20px 0;
		    display: inline-block;
		    width: 100%;
		    font-size: 1.8rem;

		    a {
		    	color: red;
    			text-decoration: none;
		    }

		    img { margin-right: 10px; }
		}
	}

	.hasala-description {
		position: relative;

		.category {
			/*position: absolute;
			right: 20px;
			top: 20px;
			z-index: 100;*/
		    margin-bottom: 10px;
			color: #92c510;

			b {
				border: 2px solid;
			    border-radius: 20px;
			    padding: 6px 20px;
			}
		}

		.form-control.readonly {
		    background: white;
		    border: 0;
		    box-shadow: none;
		}

		.edit-icon {
		    position: absolute;
		    top: 15px;
		    right: 0px;
		    text-decoration: none;
		}

		.header {
			max-width: 500px;
			position: relative;

			input {
				font-size: 2.5rem;
			}
			

			.hasala-meta {
				margin-left: 13px;

				.countdown {
					margin: 10px 0;
				}
				.hasala-progress {
					position: relative;
					
					.progress {
						height: 10px;
						width: 80%;

						.progress-bar {
							background: #92c510;
						}
					}
					.progress-text {
						position: absolute;
					    top: -8px;
					    color: #92c510;
					    right: 0;
					    font-size: 2rem;
					    font-family: roboto-medium;
					}
				}
			}
		}

		.description {
			#hasala-desc-tabs {
				margin-bottom: 25px;
				.nav-tabs {
					margin-bottom: 10px;

					li { 
						margin-left: 10px; 
						margin-bottom: 0;
					}

					li a{
						border: 0;
						border-radius: 4px;
						background-color: #eee;
						color: black;
					}

					li.active a {
						background: #92c510;
					    color: white;
					}
				}
				.tab-content {
					position: relative;

					textarea.readonly {
						width: 95%;
					}

				}
			}
		}
	}

	.hasala-milestones {
		li.list-group-item:not(:last-child) {
			padding: 4% 0;
		}

		#updates {
			li {
				border-left: 0;
				border-right: 0;
				border-top: 0;
				margin-bottom: 1px;
				border-radius: 0;
			}

			li.list-group-item {
				border-bottom: 1px solid darkgray !important;
			}
			li:last-child { border: 0 !important; }

			.title {
				margin-bottom: 20px;
				.sub-title {
					color: gray;
				}
			}
		}

		#milestones {
			.circle {
				border-radius: 50%;
				padding: 16px;
				width: 50px;
    			height: 50px;
    			margin: 14px auto;
			}

			li {
				border: 0;
			}

			.title {
				margin: 10px 0px 22px;
			}

			.action-button { margin-top: 9%;
				button { max-width: 300px; }
			}
		}
	}
}

@media (max-width: 692px) {
	.admin.hasala .hasala-description .header .edit-icon {
		top: 40px;
	}
}

@media (max-width: 1320px) {
	.admin.hasala .hasala-milestones {
		#updates, #milestones {
			.col-md-1, .col-md-3, .col-md-5, .col-md-6 {
				width: 100%;
			}

			li * { 
				text-align: center; 

				.title { margin-top: 25px; }
			}

			.action-button, .target { margin-top: 2%; }
		}
	}
}